<div class="container">
<form [formGroup]="formGroup">
    <div class="row mt-5">
        <div class="col-12">
            <div class="shadow pt-5 pr-4 pb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-1 col-1 mx-auto">
                                <img [src]="iconUrl" *ngIf="iconUrl" style="align-self: center;"
                                    [ngStyle]="{'height': iconSize+'px'}">
                            </div>
                            <div class="col-md-10 col-10">
                                <div class="form-group"
                                    [ngStyle]="{'border-color': color, 'border-style': 'solid', 'border-width': borderWith+'px', 'border-radius': borderRadius+'px'}">
                                    <div class="input-group pl-2 pr-2 rounded-pill">
                                        <input type="text" class="form-control border-0 rounded-pill"
                                            [placeholder]="search" formControlName="transcript">
                                        <button type="button" class="btn">
                                            <fa-icon [icon]="faMic" transform="grow-5" (click)="toggleRecognition()"></fa-icon>
                                        </button>
                                        <button type="button" class="btn">
                                            <fa-icon [icon]="faSearch" transform="grow-4"
                                                [styles]="{'color': color}" (click)="searchFor()">
                                            </fa-icon>
                                        </button>
                                        <button type="button" class="btn">
                                            <fa-icon [icon]="faTrash" transform="grow-4"
                                                [styles]="{'color': color}" (click)="delete()">
                                            </fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 col-10">
                                <button type="button" class="btn" (click)="hidden()">Configuración Avanzada</button>
                            </div>
                        </div>
                        <div class="row">
                                <ng-template [ngIf]="!isHidden">
                                    
                                <div class="col-2">
                                    <p>Orden</p>
                                    <select formControlName="sortBy">
                                        <option value="" default></option>
                                        <option value="asc">Asc</option>
                                        <option value="desc">Desc</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <p>Tipo</p>
                                    <select formControlName="type">
                                        <option value="" default></option>
                                        <option value="html">Html</option>
                                        <option value="pdf">Pdf</option>
                                    </select>
                                </div>

                                <div class="col-2">
                                    <p>Popularidad</p>
                                    <input type="number" class="form-control border-0 rounded-pill" formControlName="popularity">
                                </div>

                                
                                </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template [ngIf]="!!results">
    <ng-template [ngIf]="results.length > 0">
        <div class="row mt-5">
            <td>
                <p>Cantidad de resultados: {{amount}} en {{time}}ms</p>
            </td>
        </div>
<div class="row mt-5">
    <tr *ngFor="let r of results; let i = index">
        <td class="card">
            <h6>{{r.url}}</h6>
            <h4><a href="{{r.url}}" target="_blank" (click)="clickUrl(r)">{{r.title}}</a></h4>
            <p>{{r.text}}</p>
        </td>
        <td></td>
    </tr>
</div>
</ng-template>
</ng-template>